appdirs==1.4.3
awsebcli==3.10.1
blessed==1.14.2
botocore==1.5.46
cement==2.8.2
click==6.7
cmake==3.12.0
colorama==0.3.7
Django==2.0.1
dlib==19.15.0
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
exc==0.91
face-recognition==1.2.3
face-recognition-models==0.3.0
jmespath==0.9.2
numpy==1.15.1
opencv-python==3.4.2.17
packaging==16.8
pathspec==0.5.0
Pillow==5.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.3
PyYAML==3.12
requests==2.9.1
scikit-learn==0.19.2
scipy==1.1.0
semantic-version==2.5.0
six==1.11.0
sklearn==0.0
tabulate==0.7.5
termcolor==1.1.0
virtualenv==15.1.0
wcwidth==0.1.7
websocket-client==0.40.0
